<%- include('header') %>
    <link rel="stylesheet" href="/stylesheets/navigation.css">
    <div class="logo">
        <h1 class="flex">Welcome to Our Bookstore</h1>
    </div>

    <div id="navigation" class="flex">
        <a href="/">Home</a>
        <a href="/register">Register</a>
        <a href="/show">Show books</a>
    </div>

    <%- include('footer') %>