body {
  background: rgba(250, 160, 100, .2);
}

.wrapper {
  width: 100%;
  margin: 0 auto;
  background-image: url("http://bestanimations.com/Books/pretty-book-bench-nature-water-outdoors-animated-gif.gif");
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  background-origin: padding-box;
  box-shadow: 7px 0px 10px rgba(0, 0, 0, .3), -7px 0px 10px rgba(0, 0, 0, .3);
}

#headerImage img {
  width: 120px;
  height: 110px;
  border: 10px solid rgba(200, 80, 70, .3);
  border-radius: 48%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 81px;
  margin-bottom: 25px;
}

.store {
  background: rgba(40, 80, 100, .2);
  padding-top: 60px;

}

nav {
  text-align: center;
  margin-top: 90px;
}

nav a {
  text-align: center;
  padding: .7% 2%;
  margin: 2% 1%;
  text-decoration: none;
  background-color: rgba(200, 80, 70, .7);
  color: white;
  display: inline block;
}

nav a:hover {
  box-shadow: 0 1px 1px #fff;
  text-shadow: 0 1px 1px #fff;
}

section {
  padding: 2% 3%;
  margin-top: 100px;
  background: rgba(200, 120, 40, .45);
  text-align: left;
  font-size: 18px;
}

h2 {
  font-size: 30px;
  font-family: Helvetica, cursive;
  color: #4e4c31;
  text-align: center;
  margin-bottom: 20px;
}